<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos" href="/tabs/productos">
      <ion-icon aria-hidden="true" name="storefront"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito" class="central-button" (click)="openCartFromTab()" href="/tabs/carrito">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <span class="cart-badge" *ngIf="getCartItemCount() > 0">{{ getCartItemCount() }}</span>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" href="/tabs/cuenta">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mas" href="/tabs/mas">
      <ion-icon aria-hidden="true" name="reorder-four"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
